{% extends 'base.html.twig' %}

{% block body %}

    <div class="container Mi_pading">
        <div class="Mi_container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <br>
                    <h3 class="Estilo_Enunciado_Noticias">Misión</h3>

                    <p class="Estilo_Noticias">
                        El Centro de Recursos para el Aprendizaje y la Investigación de la Universidad
                        de Pinar del Río “Hermanos Saíz Montes de Oca”, tiene la misión
                        de gestionar información clave para los procesos universitarios
                        de formación del profesional, investigación científica y extensión,
                        mediante el uso de las tecnologías de información y las
                        comunicaciones, así como apoyar la docencia especializada de la
                        carrera Bibliotecología y Ciencias de la Información en la
                        provincia. De ahí que sus procesos fundamentales se agrupen en dos
                        áreas: Servicios y Formación.

                    </p>
                    <br>
                    <h3 class="Estilo_Enunciado_Noticias">Visión</h3>

                    <p class="Estilo_Noticias">
                        El Centro de Recursos para el Aprendizaje y la Investigación de la Universidad
                        de Pinar del Río “Hermanos Saíz Montes de Oca”, tiene la misión
                        de gestionar información clave para los procesos universitarios
                        de formación del profesional, investigación científica y extensión,
                        mediante el uso de las tecnologías de información y las
                        comunicaciones, así como apoyar la docencia especializada de la
                        carrera Bibliotecología y Ciencias de la Información en la
                        provincia. De ahí que sus procesos fundamentales se agrupen en dos
                        áreas: Servicios y Formación.

                    </p>

                </div>
            </div>

        </div> <div class="page-header">
            <h1>Biblioteca <small> Hermanos Saíz</small></h1>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img class="center-block img-responsive"
                     src="{# asset('biblioteca/biblioteca/images/ICRAI/images3.jpg') #}"
                     alt=""/>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul class="list-unstyled">
                            <li class="Estilo_Noticias">

                                <span class="glyphicon glyphicon-hand-right"></span>
                                Calle Mart&iacute; 300 e/ Gonz&aacute;lez Alcorta y 27 de noviembre.


                            </li>
                            <li class="Estilo_Noticias">

                                Pinar del Rio


                            </li>
                            <li class="Estilo_Noticias">

                                C&oacute;digo Postal 20100


                            </li>
                            <li class="Estilo_Noticias">

                                Pinar del Rio, Cuba


                            </li>
                            <li class="Estilo_Noticias">

                                <span class="glyphicon glyphicon-phone-alt"></span>
                                (+53) 48755032


                            </li>
                            <li class="Estilo_Noticias">

                                <span class="glyphicon glyphicon-envelope"></span>
                                biblioteca@upr.edu.cu


                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <dd><div class="Estilo_Enunciado_Biblioteca_MasInformacion_Bold">Horario :</div></dd>
                        <dd class="Estilo_Enunciado_Biblioteca_MasInformacion_Nombres_Bold">Lunes a viernes 8:00am-5:00pm</dd>
                        <dd class="Estilo_Enunciado_Biblioteca_MasInformacion_Nombres_Bold">Sábado: 8:00am-12:00m</dd>

                        </dl>
                        <div class="Estilo_Enunciado_Biblioteca_MasInformacion_Bold">Cantidad de Salas : </div>4

                    </div>
                </div>
            </div>
        </div>
        <div class="page-header">
            <h1>Biblioteca  <small>Nancy Uranga Romagoza</small></h1>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img class="center-block img-responsive"
                     src="{# asset('biblioteca/biblioteca/images/ICRAI/índice.jpg') #}"
                     alt=""/>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul class="list-unstyled">
                            <li class="Estilo_Noticias">

                                <span class="glyphicon glyphicon-hand-right"></span>
                                Calle Capitán San Luis s/n


                            </li>
                            <li class="Estilo_Noticias">

                                Pinar del Rio


                            </li>
                            <li class="Estilo_Noticias">

                                C&oacute;digo Postal 20100


                            </li>
                            <li class="Estilo_Noticias">

                                Pinar del Rio, Cuba


                            </li>
                            <li class="Estilo_Noticias">

                                <span class="glyphicon glyphicon-phone-alt"></span>
                                (+53) 48752824


                            </li>
                            <li class="Estilo_Noticias">

                                <span class="glyphicon glyphicon-envelope"></span>
                                biblioteca@upr.edu.cu


                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <dl>
                            <dd><div class="Estilo_Enunciado_Biblioteca_MasInformacion_Bold">Horario :</div></dd>
                            <dd class="Estilo_Enunciado_Biblioteca_MasInformacion_Nombres_Bold">Lunes a viernes 8:00am-5:00pm</dd>
                            <dd class="Estilo_Enunciado_Biblioteca_MasInformacion_Nombres_Bold">Sábado: 8:00am-12:00m</dd>

                        </dl>
                        <div class="Estilo_Enunciado_Biblioteca_MasInformacion_Bold">Cantidad de Salas : </div>1


                    </div>
                </div>
            </div>
        </div>
        <div class="page-header">
            <h1>Biblioteca <small>Rafael María Mendive</small></h1>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img class="center-block img-responsive"
                     src="{# asset('biblioteca/biblioteca/images/ICRAI/índice1.jpg') #}"
                     alt=""/>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul class="list-unstyled">
                            <li class="Estilo_Noticias">

                                <span class="glyphicon glyphicon-hand-right"></span>
                                Calle Los Pinos Esquina Borrego


                            </li>
                            <li class="Estilo_Noticias">

                                Reparto Hermanos Cruz


                            </li>
                            <li class="Estilo_Noticias">

                                Pinar del Rio


                            </li>
                            <li class="Estilo_Noticias">

                                C&oacute;digo Postal 20200


                            </li>
                            <li class="Estilo_Noticias">

                                Pinar del Rio, Cuba


                            </li>
                            <li class="Estilo_Noticias">

                                <span class="glyphicon glyphicon-phone-alt"></span>
                                (+53) 48785151
                            </li>
                            <li class="Estilo_Noticias">
                                <span class="glyphicon glyphicon-phone-alt"></span>
                                (+53) 48785152
                            </li>
                            <li class="Estilo_Noticias">

                                <span class="glyphicon glyphicon-envelope"></span>
                                biblioteca@upr.edu.cu


                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <dl>

                            <dd><div class="Estilo_Enunciado_Biblioteca_MasInformacion_Bold">Horario:</div></dd>
                            <dd class="Estilo_Enunciado_Biblioteca_MasInformacion_Nombres_Bold">Lunes a jueves 8:00am-9:00pm</dd>
                            <dd class="Estilo_Enunciado_Biblioteca_MasInformacion_Nombres_Bold">Viernes: 8:00am-5:00pm</dd>
                            <dd class="Estilo_Enunciado_Biblioteca_MasInformacion_Nombres_Bold">Sábado: 8:00am-12:00m</dd>

                        </dl>
                        <div class="Estilo_Enunciado_Biblioteca_MasInformacion_Bold">Cantidad de Salas : </div>1

                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}